@model MaestroDetalleCerveza.webapp.Models.ViewModels.CervezaEditViewModel

@{
    ViewData["Title"] = "EDITAR CERVEZA";
}

@*@{
        var l_CervezaEditViewModel = Model;
    }*@
<h1>@ViewData["Title"]</h1>

<div style="color:chartreuse">
    @ViewBag.Message;
</div>

@*<div>
    <a asp-action="Index">Volver al listado de cervezas</a>
</div>*@

<input type="button" value="Volver al listado de cervezas" onclick="location.href='@Url.Action("Index", "Cerveza")'" />

@using (Html.BeginForm("Edit", "Cerveza", FormMethod.Post))
{
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(d => d.IdCerveza)
            @Html.TextBoxFor(x => x.IdCerveza, new { @readonly = true })
        </div>
        <div class="form-group">
            @Html.LabelFor(d => d.Nombre)
            @Html.TextBoxFor(x => x.Nombre)
        </div>
        <div>
            @Html.LabelFor(x => x.Estilo)
            @Html.TextBoxFor(x => x.Estilo)
        </div>


        <hr />

        <div class="form-group">
            Id
            <input type="number" id="IdIngrediente" readonly/>
            Nombre
            <input type="text" id="NombreIngrediente" />
            Gramos
            <input type="number" id="Gramos" />
            <input value="Agregar" type="button" onclick="AgregarIngrediente(); return false;" />
        </div>

        <br />


        @*@{
                    if (@Model != null)
                    {
                        if (@Model.ingredientes != null)
                        {
                            <a id="numIngredientes">@Model.ingredientes.Count</a>
                        }
                    }
            }*@

        <a id="numIngredientes">@Model.ingredientes.Count</a>

        <br />
        <div id="divIngredientes">
            <table id="tablaIngredientes" style="width:100%;">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nombre Ingrediente
                    </th>
                    <th>
                        Gramos
                    </th>
                </tr>

                @*@foreach (var l_Ítem in Model.ingredientes)
                    {
                        <tr>
                            <td>
                                @Html.TextBoxFor(d => l_Ítem.IdIngrediente)
                            </td>
                            <td>
                                @Html.TextBoxFor(d => l_Ítem.NombreIngrediente)
                            </td>
                            <td>
                                @Html.TextBoxFor(d => l_Ítem.Gramos)
                            </td>

                        </tr>
                    }*@
            </table>

            @{
                int contador = 0;
            }
            @foreach (var l_Ítem in Model.ingredientes)
            {
                @*<input type="hidden" name="ingredientes.Index" id="ingredientes.Index" value="@contador" />
                    <input type="hidden" name="ingredientes[@contador].IdIngrediente" id="ingredientes[@contador].IdIngrediente"
                           value="0"; />
                    <input type="hidden" name="ingredientes[@contador].NombreIngrediente" id="ingredientes[@contador].NombreIngrediente"
                           value="@l_Ítem.NombreIngrediente" />
                    <input type="hidden" name="ingredientes[@contador].Gramos" id="ingredientes[@contador].Gramos"
                           value="@l_Ítem.Gramos" />*@
                <input type="hidden" name="ingredientes.Index" id="ingredientes.Index" value="@contador" />
                <input name="ingredientes[@contador].IdIngrediente" id="ingredientes[@contador].IdIngrediente"
                       value="@l_Ítem.IdIngrediente" readonly />
                <input name="ingredientes[@contador].NombreIngrediente" id="ingredientes[@contador].NombreIngrediente"
                       value="@l_Ítem.NombreIngrediente" />
                <input name="ingredientes[@contador].Gramos" id="ingredientes[@contador].Gramos"
                       value="@l_Ítem.Gramos" />
                <br />

                ++@contador;
            }


        </div>

        <div>
            <input type="submit" />
        </div>
        @*<div>
                <input type="button" value="Create" onclick="location.href='@Url.Action("Edit", "Cerveza",l_CervezaEditViewModel)'" />
            </div>*@
    </div>

}

<script>
    //var num = 0;

    function AgregarIngrediente() {
        // console.log("hola");

        let num = document.getElementById("numIngredientes");
        var siguienteNum = num.innerHTML;
        ++siguienteNum;
        // Se incrementa el puntero (contador)
        num.innerHTML = siguienteNum;

        //let IdIngrediente = document.getElementById("IdIngrediente").value;
        let NombreIngrediente = document.getElementById("NombreIngrediente").value;
        let Gramos = document.getElementById("Gramos").value;

        // Se obtiene referencia a la tabla "tablaIngredientes"
        let Tabla = document.getElementById("tablaIngredientes");

        // Se crea una nueva fila ("tr"). Luego, se agregará a la tabla refeenciada por "Tabla"
        let TR = document.createElement("tr");

        // Se crean las nuevas columnas de datos con valores ("td")
        let TDIdIngrediente = document.createElement("td");
        let TDNombreIngrediente = document.createElement("td");
        let TDGramos = document.createElement("td");

        // Se agregan las nuevas columnas de datos con valores, a la fila recién creada
        TR.appendChild(TDIdIngrediente);
        TR.appendChild(TDNombreIngrediente);
        TR.appendChild(TDGramos);

        TDIdIngrediente.innerHTML = 0
        TDNombreIngrediente.innerHTML = NombreIngrediente;
        TDGramos.innerHTML = Gramos;

        //TDTotal.innerHTML = parseFloat(Cantidad) * parseFloat(PrecioUnitario);

        // Se agrega la nueva fila, a la referencia a la tabla
        Tabla.appendChild(TR);

        // Se agregan "hiddens"
        // Nota es importante que si, en la clase "CervezaViewModel", el "List" se llama "ingredientes" con minúsculas; aquí, debe ser
        // con minúsculas. Lo mismo para "Nombre" y "Gramos". Es "Case Sensitive", se deben respetar mayúsculas y minúsculas.
        let DivIngredientes = document.getElementById("divIngredientes");

        let HiddenIndex = document.createElement("input");
        let HiddenIdIngrediente = document.createElement("input");
        let HiddenNombreIngrediente = document.createElement("input");
        let HiddenGramos = document.createElement("input");

        HiddenIndex.name = "ingredientes.Index";
        HiddenIndex.value = siguienteNum;
        HiddenIndex.type = "hidden";

        HiddenIdIngrediente.name = "ingredientes[" + siguienteNum + "].IdIngrediente";
        HiddenIdIngrediente.value = 0;
        HiddenIdIngrediente.type = "hidden";

        HiddenNombreIngrediente.name = "ingredientes[" + siguienteNum + "].NombreIngrediente";
        HiddenNombreIngrediente.value = NombreIngrediente;
        HiddenNombreIngrediente.type = "hidden";

        HiddenGramos.name = "ingredientes[" + siguienteNum + "].Gramos";
        HiddenGramos.value = Gramos;
        HiddenGramos.type = "hidden";


        // Se agregan los 'hidden" al "div"
        DivIngredientes.appendChild(HiddenIndex);
        DivIngredientes.appendChild(HiddenIdIngrediente);
        DivIngredientes.appendChild(HiddenNombreIngrediente);
        DivIngredientes.appendChild(HiddenGramos);

    }
</script>
